apiVersion: v1
kind: Service
metadata:
  name: weather-ml-service
  labels:
    app: weather-ml
spec:
  type: LoadBalancer
  selector:
    app: weather-ml-app
  ports:
    - port: 80           # external port
      targetPort: 5001   # container port